

 <!-- W-HEAD.FTL -->
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# video: https://ogp.me/ns/video#">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NV67WG6');</script>
<!-- End Google Tag Manager -->
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link type="image/svg+xml" rel="shortcut icon" href="https://resources.wideo.co/img/wideo-w-orange.svg"/>
	
	<!-- PWA Manifest -->
	<link rel="manifest" href="/manifest.json">
	<!-- Origin trial for Digital Good API V2 -->
	<meta http-equiv="origin-trial" content="AsUAc4JCK55gjz5R6EX0CM2ZYjK5ZEuURVT++KI4/9OVnSohs8D220XKuibmYWoOvrPI5Iq9vDaGxKkMxQ3cIQ8AAABjeyJvcmlnaW4iOiJodHRwczovL3dpZGVvLmNvOjQ0MyIsImZlYXR1cmUiOiJEaWdpdGFsR29vZHNWMiIsImV4cGlyeSI6MTY1MzI2Mzk5OSwiaXNTdWJkb21haW4iOnRydWV9">

	<link rel="canonical" href="https://app.wideo.co/en//view/41933771762395601471-about/">

	<title>Create videos easily for your marketing campaigns - about - Wideo</title>
	
<!-- fbk og info begin x-->		
   <meta property="fb:app_id"       content="310376292408576" />
   <meta property="og:site_name" 	content="wideo.co"/>
   <meta property="og:type"         content="movie" />
   <meta property="og:title"        content="about" />
   <meta property="og:description"  content="" />
   <meta property="og:url"          content="https://wideo.co/view/41933771762395601471-about"/>
   <meta property="og:video:width" content="640">
   <meta property="og:video:height" content="360">
   <meta property="og:image"        content="https://papi.wideo.co/wco/wideos/41933771762395601471-about/previews/1" />
   <meta property="og:video"        content="https://wideo.co/sbin/WideooPlayer.swf?webUrl=https%3A%2F%2Fwideo.co&amp;apiUrl=https%3A%2F%2Fpapi.wideo.co%2Fwco%2F&amp;movieID=41933771762395601471&amp;autoplay=true&amp;jsEnabled=false&amp;referral=facebook&amp;userID=4193377&amp;creditsID=0&amp;showFinalButtons=true" />
   <meta property="og:video:secure_url" content="https://wideo.co/sbin/WideooPlayer.swf?webUrl=https%3A%2F%2Fwideo.co&amp;apiUrl=https%3A%2F%2Fpapi.wideo.co%2Fwco%2F&amp;movieID=41933771762395601471&amp;autoplay=true&amp;jsEnabled=false&amp;referral=facebook&amp;userID=4193377&amp;creditsID=0&amp;showFinalButtons=true" />
   
<!-- fbk og info end -->
	<!-- Meta Info -->
	<meta name="description" content="increased 10x Email Marketing Conversions and social traffic by 300%. Increase 12x your ROI - Wideo"/>
	<meta name="keywords" content="Best Marketing Campaigns, Email video Marketing, Landing Page, Marketing Agency, Social Media Marketing, Video Marketing, video marketing for eCommerce, video templates"/>
	<!-- Meta no index robots -->
		<meta name="robots" content="noindex, nofollow">
	<!-- Meta no index robots -->
	<!-- Fin Meta Info -->
	
	<script type="application/ld+json">
	{
	  	"@context": "https://schema.org",
	  	"@type": "Organization",
	  	"url": "https://wideo.co",
	  	"logo": "https://resources.wideo.co/img/logo-last.png",
	  	"sameAs": [
		    "https://www.facebook.com/MrWideo",
		    "https://twitter.com/MrWideo",
		    "https://www.youtube.com/mrwideoo"
	  	]
	}
	</script>

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<!-- The styles -->

    <!-- font-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">@font-face {font-family: 'SusaBold_Bold';src: url('https://resources.wideo.co/css-lib/ng/fonts/susabold-webfont.ttf');}</style>

    <script src="https://resources.wideo.co/js-lib/ng/commons1.11.js"></script>
    <script src="https://resources.wideo.co/js-lib/ng/waypoints.min.js"></script>
	<script src='https://resources.wideo.co/js-lib/ng/moment/min/moment.min.js'></script>
	<script src='https://resources.wideo.co/js-lib/ng/moment/min/locales.js'></script>
    <script src='https://resources.wideo.co/js-lib/ng/bootstrap.js'></script>
    
        
	<!-- GLOBAL VARS FOR ANGULAR APP-->
	<script type="text/javascript">
		var wideoAppConfig = {
			'api':'https://papi.wideo.co/',
			'awgApi':'https://matic.wideo.co/',
			'external':'https://resources.wideo.co',
			'internal':'https://app.wideo.co',
			'wideoStaticImgUrl':'https://resources.wideo.co/img',
			'baseHrefUrl':'/en/',
			'langID' : 'en'			
		};
		
		moment.locale('en');
		
		var wideoUser = {};
		var userChargeType={};
		
		
			var userChargeType={
				chargeTypeId:18,
				chargeName:"LITE",
				localizedChargeName:"Free",
				chargeNameDesc:"You have a wideo Free  subscription",
				canUpgrade: true,
				upgradeText: "Upgrade",
				nextPayment: "",
				validThroughDate: "Nov 6, 2125",
				isLifeTime: false,
				amount: "0",
				active: true,
			};
		
		
			wideoUser = {
				id:"4193377",
				userName:"1hk23cs076",
				name:"irfan",
				avatarName:"irfan",
				email: "1hk23cs076@hkbk.edu.in",
				bioData:"",
				registrationDateCode:"1cad3c53813f6693582a90028234f189",
				avatarPath: "https://resources.wideo.co/img/avatars/default-avatar.png",
				registrationDate:"2025-11-06",
				userChargeType:userChargeType,
				accessToken:"S4887035611780791736",
				category:"10",
				privacyEnabled:false,
				childUser: false,
				isUserAdminFromOrg: false
			};
			
		
		var requestAttr={
			nextUrl:"",
			signUpAction: "",
			newSignup: false
		}
		
	</script>
	
	<script src="https://resources.wideo.co/js/ng/app.bundle.js?1373653249381"/></script>
	
	<!-- Hybrid messagesSv -->
<script>
	   angular.module('wideo.services').factory('messagesSv', [ function() {
	   		var getTemplateFormMessages = function() {
	   		
	   			return  {
							title: "Tell us about your perfect template!",
							select: "Select one or more optons from the list",
							selected: "Selected",
							questionService: "What service or product does your company offer?",
							questionServicePlaceholder: "e.g. digital marketing services...",
							questionKind: "What kind of video are you making?",
							advertisement: "Advertisement",
							promotion: "Special Promotion",
							explainer: "Product/Service Explainer",
							educational: "Demo/Training",
							presentation: "Presentation",
							other: "Other",
							questionDistribution: "How do you plan to distribute your video?",
							facebook: "Facebook",
							twitter: "Twitter",
							youtube: "YouTube",
							email: "Email Marketing",
							embedded: "Embedded",
							presentations: "Presentation/Event",
							advertisements: "Advertisements",
							questionExplain: "Comments on structure, design, or features:",
							questionExplainPlaceholder: "e.g. I need a Facebook video in a slick, modern style that&#39;s 30 seconds long and has a button linking to a website...",
							send: "Send",
							cancel: "Cancel"
							
					}
					}
					
			return {
	    		getTemplateFormMessages:getTemplateFormMessages
			};
					
	   }]);
	</script>
	<script src='https://resources.wideo.co/js/ng/wideo.js?1373653249381'></script>

<script type="text/javascript">
  (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
;r.type="text/javascript"
;r.integrity="sha384-cukXwabQy+j/QA1+RqiXSzxhgQg5Rrn3zVszlwH3pWj/bXJxlA8Ge7NhcD6vP2Ik"
;r.crossOrigin="anonymous";r.async=true
;r.src="https://cdn.amplitude.com/libs/amplitude-7.1.0-min.gz.js"
;r.onload=function(){if(!e.amplitude.runQueuedFunctions){
console.log("[Amplitude] Error: could not load SDK")}}
;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
;function s(e,t){e.prototype[t]=function(){
this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
var o=function(){this._q=[];return this}
;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
;for(var c=0;c<a.length;c++){s(o,a[c])}n.Identify=o;var u=function(){this._q=[]
;return this}
;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
;for(var p=0;p<l.length;p++){s(u,l[p])}n.Revenue=u
;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","enableTracking","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","groupIdentify","onInit","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
;function v(e){function t(t){e[t]=function(){
e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
e=(!e||e.length===0?"$default_instance":e).toLowerCase()
;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
;e.amplitude=n})(window,document);


  amplitude.getInstance().init("8b9fe25b9c9fcc062243e6b95b0964a6", null, {
    includeUtm: true,
    includeReferrer: true
});

  function amplitudeLogEvent(key,properties){
	try{
  		amplitude.getInstance().logEvent(key,properties);
  	}catch(err){
  		console.warn("problem tracking to amplitude: " + err);
  	}
  }

   function amplitudeLogEventCallback(key,properties,callback){
	try{
  		amplitude.getInstance().logEvent(key,properties,callback);
  	}catch(err){
  		console.warn("problem tracking to amplitude: " + err);
  	}
  }

  function amplitudeSetUserId(email){
	  	amplitude.getInstance().setUserId(""+email);
		  	var identify = new amplitude.Identify().setOnce('sign_up_date', '2025-11-06');
		  	identify.set('userID', '4193377');
		  	identify.setOnce('a/b', 'VERSION '+ "B");
		  	identify.set('langID', 'en');
				identify.set('segment',"10");
				identify.set('activeCharge',"LITE");
			var emailType = checkEmailType(email);
			identify.set('emailType',emailType);

			amplitude.getInstance().identify(identify);



  }

  function amplitudeSetUserProperties(properties){
  	amplitude.getInstance().setUserProperties(properties);
  }

  function checkEmailType(email) {
  	var domains = ['gmail','yahoo','live','outlook','naver','mail','msn','aol','hotmial','yopmail','hanmail','me','bol','citromail','uol','icloud','hotmail','terra'];
	var fullDomain= email.split("@")[1];
	var onlyDomainName = fullDomain.split(".")[0];
    if (fullDomain.indexOf(".edu") !== -1) {
    	emailType = '@Edu';
    } else {
    	if (domains.indexOf(onlyDomainName) !== -1) {
			emailType = '@Personal';
		} else {
    		emailType = '@Work';
    	}
    }

	return emailType;
  }


</script>

<!--Amplitude userID and properties tracking -->
<script type="text/javascript">

var getUrlParams = function(url) {
  var params = {};
  var paramRegex = /[?&]([^=#]+)=([^&#]*)/g;
  var match;

  while ((match = paramRegex.exec(url))) {
    var paramName = decodeURIComponent(match[1]);
    var paramValue = decodeURIComponent(match[2]);
    params[paramName] = paramValue;
  }

  return params;
}	

	function getRequestAttr() {
		var url = document.referrer
		return getUrlParams(url);
	}	

		var userProperties = {};
		amplitudeSetUserId("1hk23cs076@hkbk.edu.in");
</script>
	
<script id="BroadEngagementSettingsScriptTag">
  window.broadengagement = {};

  broadengagement.trackEvent = function(eventName, additionalData = {}) {
    const payload = {
      eventName: eventName,
      userProperties: {
        userId: "4193377",
        name: "irfan",
          email: "1hk23cs076@hkbk.edu.in",
          user_segment: "10",
        email_domain: "hkbk.edu.in",
        created_at: "1762395600",
        country: "Unknown",
        lang_id: "en",
          user_account:"LITE",
        no_of_wideos: "1",
        views: "0"
      },
      eventProperties: additionalData
    };

    fetch("https://papi.wideo.co//track-event", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(payload)
    });
  }
</script>

<!-- Global site tag (gtag.js) - Google Analytics 4 -->
<script async src='https://www.googletagmanager.com/gtag/js?id=G-K579ZYENM7'></script>

<!-- Google Analytics --> 
<script>  
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K579ZYENM7');

	gtag('event', 'page_view');

  	function getUserSessionNumber(){
		return "0";
	}
  
	//Seteamos la sesion del usuario
  gtag('set', {'dimension1': getUserSessionNumber()});

	//Trackeamos la userId del usuario
	gtag('set', {'dimension2': '4193377'});
	
	//segment tracking
	gtag('set', {'dimension3': '10'});
	

	

	function trackWithAnalitics(category, action, label) {
		gtag('event', ''+action, {
			'event_category': category,
			'event_label': ''+label
		});
	}


</script>
<!-- End Google Analytics --><!-- Start of wideo Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function()
{a.push(arguments)}
,window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try
{o=s}
catch(e)
{n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}
o.open()._l=function()
{var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)}
,o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","wideo.zendesk.com");
/*]]>*/</script>
<!-- End of wideo Zendesk Widget script -->

<script>

  //Set language for the zendesk widget
  zE(function() {
    zE.setLocale('en');
  });


        //Prefill user data in the zendesk widget
        zE(function() {
          zE.identify({
            name: 'irfan',
            email: '1hk23cs076@hkbk.edu.in'
          });

          $zopim(function() {
            $zopim.livechat.badge.show();
            $zopim.livechat.setOnChatStart(function() {
              $zopim.livechat.badge.hide();
              $zopim.livechat.window.show();
            }); //end set on chat start
          }) //end zopim

        }); //end z

</script>
<!-- Start of unbounce-overlay script -->
<script src="//f6400bf845e04e08ab28fe8ccc088003.js.ubembed.com" async></script>
<!-- End of unbounce-overlay script --><!-- Quick Sprout: Grow your traffic -->
<script>
  (function(e,t,n,c,r){c=e.createElement(t),c.async=1,c.src=n,
  r=e.getElementsByTagName(t)[0],r.parentNode.insertBefore(c,r)})
  (document,"script","https://cdn.quicksprout.com/qs.js");
</script>
<!-- End Quick Sprout -->	

<!-- Styles -->
<link href="https://resources.wideo.co/css-lib/ng/bootstrap-switch.css" rel="stylesheet">
<link href="https://resources.wideo.co/css/ng/wideo-player.css?1373653249381" rel="stylesheet">

<!-- JS -->
<script src="https://resources.wideo.co/js/ng/wideo-player.js?1373653249381"></script>
<script src="https://resources.wideo.co/js-lib/ng/bootstrap-switch.min.js"></script>

<script type="text/javascript">
angular.module('wideo.directives').directive('bootstrapSwitch', [
        function() {
            return {
                restrict: 'A',
                require: '?ngModel',
                link: function(scope, element, attrs, ngModel) {
                    element.bootstrapSwitch();

                    element.on('switchChange.bootstrapSwitch', function(event, state) {
                        if (ngModel) {
                            scope.$apply(function() {
                                ngModel.$setViewValue(state);
                            });
                        }
                    });

                    scope.$watch(attrs.ngModel, function(newValue, oldValue) {
                        if (newValue) {
                            element.bootstrapSwitch('state', true, true);
                        } else {
                            element.bootstrapSwitch('state', false, true);
                        }
                    });
                }
            };
        }
    ]);

var SCOPE = {};

angular.module('wideo.controllers').controller('playerController', ['$scope','$location','$uibModal','$window','wideoAppSv','wideoSv','$sce',
function($scope,$location,$uibModal,$window,wideoAppSv,wideoSv,$sce) {

	SCOPE = $scope;
	$scope.apiUrl = wideoAppSv.configApiUrl();
	$scope.showEditMenu = true;
	$scope.isOwner = true;
	$scope.showEditInput = false;
	$scope.hasTranscript = false;
	$scope.html5 = window.location.search.indexOf("html5") > 0;
	$scope.isDiscoveryUser = false;

	$scope.init = function() {
		wideoAppSv.getWideoJsonObject("41933771762395601471").then(
			function(data) {
				$scope.wideo = data;
				$scope.checkWideoTitle();
				$scope.loadWideoTags();
				wideoSv.countView("41933771762395601471").then(
					function(data) {
						$scope.wideo.views = $scope.wideo.views + 1;
					}
				);

				 $scope.avatarBack = {
			        "background-image" : "url(" + $scope.wideo.user.avatarPath + ")",
			    }

			    //need to show share popup
				if(window.location.search.indexOf("share=1") > 0){
					$scope.shareWideoClick($scope.wideo,$scope.showEditMenu);
				}

		});
		//wideoAppSv.getMoreWideos("4193377","41933771762395601471",3).then(
		//function(data) {
		//	$scope.moreWideos = data;
		//});

		//wideoAppSv.getUserWideosQty("4193377").then(
	//		function(data) {
	//			$scope.totalWideos = data.wideosQty;
	//	});


	}

	$scope.loadWideoTags = function() {
		$scope.wideoTags = [];
		for (var i in $scope.wideo.tags) {
			var tag = {};
			tag["text"] = $scope.wideo.tags[i];
			$scope.wideoTags.push(tag);
		}
	}

	$scope.updateTags = function() {

		var tags = [];
		for (var i in $scope.wideoTags) {
			tags.push($scope.wideoTags[i].text);
		}
		$scope.wideo.tags = tags;

		wideoSv.saveWideo($scope.wideo);
	};

	$scope.likeable = true;
	$scope.privacyEnabled = false

	$scope.goToProfile = function() {
		if ($scope.showEditMenu) {
			window.location.href = wideoAppSv.configWebUrl()+'/account/myprofile';
		} else {
			window.location.href = wideoAppSv.configWebUrl()+'/profile/'+$scope.user.userID;
		}
	}
	$scope.likeIt = function() {
		if ($scope.likeable) {
			wideoSv.likeWideo($scope.wideo.wideooID).then(
				function(data) {
					$scope.likeable = false;
					$scope.wideo.likes = $scope.wideo.likes + 1;
				});
		}
	};

	$scope.checkWideoTitle = function() {
		if ($scope.showEditMenu) {
			if ($scope.wideo.title == 'untitled') {
				$scope.newWideoTitle="";
				$('#modal-wideo-title').modal('show');
			}
		}
	}

	$scope.updateWideoTitle = function(title) {
		$scope.wideo.title = title;
		wideoSv.saveWideo($scope.wideo).then(function() {
			$scope.showEditInput = false;
			$('#modal-wideo-title').modal('hide');
		});
	}

	$scope.updateWideoDescription = function() {
		wideoSv.saveWideo($scope.wideo);
	}

	$scope.focusEditInput = function() {
		setTimeout(function(){
			var element = $window.document.getElementById("edit-title-input");
			element.focus();
		}, 0);
	}

	$scope.shareWideoClick = function(wideo, isOwner){
		var modalInstance = $uibModal.open({
		      templateUrl: $sce.trustAsResourceUrl(wideoAppSv.configBaseHrefAbsUrl()+'/html/ng/templates_popups_shareWideoPopup'),
				controller: 'shareWideoPopupCo',
	      		resolve: {
	        		wideo: wideo,
	        		isOwner: isOwner,
	        		isDiscoveryUser: $scope.isDiscoveryUser,
	        		html5: $scope.html5
	      		},
		    });
		}

		$scope.settingsWideoClick = function(){
		 	$scope.privateWideo = $scope.wideo.status == 'P' ? true : false;
			$('#modal-settings-wideo').modal('show');
		}

	   	$scope.saveSettingsChanges = function(){
			$scope.wideo.status = $scope.privateWideo == true ? 'P' : 'A';
			wideoSv.saveWideoReusable($scope.wideo);
			wideoSv.saveWideoStatus($scope.wideo);
			$('#modal-settings-wideo').modal('hide');
	   	}

		$scope.goUpgrade = function() {
			window.location.href = wideoAppSv.configBaseHrefAbsUrl() + "/pricing?source=privacy-settings";
		}

		$scope.goDownload = function(wideo) {
			amplitudeLogEvent("POPUP-SHARE-DOWNLOAD", { source: "download-player", wideoID: wideo.wideooID});
			trackWithAnalitics("user","POPUP-SHARE-DOWNLOAD-PLAYER");
			window.location.href = wideoAppSv.configBaseHrefAbsUrl() + "/download?source=player&wideoID=" + wideo.wideooID + "&params=" + "eyJuZXh0QWN0aW9uQ29kZSI6ImdvdG9kb3dubG9hZHByb2dyZXNzIiwibmV4dEFjdGlvbkNvZGVVUkwiOiIvZG93bmxvYWQ/d2lkZW9JRD00MTkzMzc3MTc2MjM5NTYwMTQ3MSIsInBsYW5VcGdyYWRlZCI6bnVsbCwibmV4dFBhZ2VDb2RlVVJMIjoiL3BheW1lbnRzL25ldy1mbG93L2NoZWNrb3V0T0tEb3dubG9hZCIsImRvd25sb2FkV2lkZW9JRCI6IjQxOTMzNzcxNzYyMzk1NjAxNDcxIiwid2lkZW9JRCI6IjQxOTMzNzcxNzYyMzk1NjAxNDcxIiwic291cmNlIjoiVHJpYWwtRG93bmxvYWQtTGltaXQifQ==";
		}

		$scope.deleteWideoClick = function(){
			if($scope.isOwner){
		 		$('#modal-delete-wideo').modal('show');
			}
		};

     	$scope.deleteWideo = function(){
			if($scope.isOwner){
	   			wideoSv.deleteWideo($scope.wideo.wideooID);
	   			$('#modal-delete-wideo').modal('hide');
				window.location.href= wideoAppSv.configBaseHrefRelUrl() + "/account/myprofile";
			}
		};

		$scope.createSnapshot = function() {
			var swfRef=document.getElementById("Wideoo");
			swfRef.createSnapshot("S4887035611780791736");

			//flash effect
			$("#Wideoo").css("opacity","0");
			 setTimeout(function(){$("#Wideoo").css("opacity","0.3")},100);
			 setTimeout(function(){$("#Wideoo").css("opacity","0.5")},150);
			 setTimeout(function(){$("#Wideoo").css("opacity","0.7")},250);
			 setTimeout(function(){$("#Wideoo").css("opacity","1")},300);
		}

     	$scope.activeTooltip = function(){
     		$('[data-toggle="tooltip"]').tooltip();
		};

}]);

</script>

	
</head>
<body >
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NV67WG6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Broad Engagement Widget -->
<script src="https://beta.leadconnectorhq.com/loader.js" data-resources-url="https://beta.leadconnectorhq.com/chat-widget/loader.js" data-widget-id="68925bb2c24ad8b50bc3ced8"></script>


 <body>
      <div ng-app="wideoApp" ng-controller="playerController" data-ng-init="init()" class="wrapper">
		<wideo-menu></wideo-menu>
		<user-category></user-category>

		<div class="container">
	        <div class="video embed-responsive embed-responsive-16by9">
				<iframe width="905" height="509" src="https://editor.wideo.co/player?wideoId=41933771762395601471" frameborder="0" allowfullscreen scrolling="no" style="overflow: hidden;"></iframe>
	        </div>
	        <div class="box box-info-user box-info-video box-player">
                <div class="box-header">
                  <h3 class="box-header-title">
                        <div ng-show="showEditMenu" class="actions-item actions-player">
                            <a ng-href="{{href()}}/edit/{{wideo.wideooID}}" class="btn btn-dark-border"><i class="icon-lapiz_edit_profile fa-lg"></i> Edit</a>
                            <a ng-click="goDownload(wideo)" class="btn btn-primary"><i class="icon-download_profile fa-lg"></i> Download</a>
                            <a class="btn btn-link btn-animation btn-icon btn-icon-lg" ng-click="shareWideoClick(wideo, showEditMenu)"><i class="icon-share"></i> Share</a>
                            <a class="btn btn-link btn-animation btn-icon btn-icon-lg" ng-href="{{href()}}/edit/{{wideo.wideooID}}/clone"><i class="icon-flaticon-window21"></i> Clone</a>
                            <a class="btn btn-link btn-animation btn-icon btn-icon-lg" ng-click="settingsWideoClick();"><i class="icon-settings"></i>Settings</a>
                            <a ng-show="isOwner" class="btn btn-link btn-animation btn-icon btn-icon-lg" ng-click="deleteWideoClick();"><i class="icon-flaticon-garbage2"></i> Delete</a>
                            <p class="pull-right">
                                <span><strong>{{wideo.likes}}</strong> <a class="edit-like" ng-click="likeIt()"><i class="fa fa-heart fa-xs" ng-class="{liked: !likeable}"></i></a></span>
                                <span><strong>{{wideo.views}}</strong> <i class="icon-views"></i> <!--plays--></span>
                            </p>
                        </div>
                        <div ng-show="!showEditMenu" class="actions-item actions-player">
                            <a ng-show="wideo.html5" ng-click="shareWideoClick(wideo, showEditMenu)" class="btn btn-primary"><i class="icon-share"></i> Share</a>
                            <a ng-show="wideo.html5" ng-href="{{href()}}/edit/{{wideo.wideooID}}/reuse?source=reuse_player" class="btn btn-dark-border"><i class="icon-reuse"></i>Reuse</a>
                            <p class="pull-right">
                                <span><strong>{{wideo.likes}}</strong> <a class="edit-like" ng-click="likeIt()"><i class="fa fa-heart fa-xs" ng-class="{liked: !likeable}"></i></a></span>
                                <span><strong>{{wideo.views}}</strong> <i class="icon-views"></i> <!--plays--></span>
                            </p>
                        </div>
                  </h3>
                </div>
                <div class="box-body">

                	<form ng-if="showEditMenu" id="descriptionEdit" method="post">
                        <div class="info-box">
                            <div class="info-box-image">
                    			<span class="avt avt-md" ng-style="avatarBack">
                                </span>
                            </div>
                            <div class="info-box-description">
                                <div class="info-box-title">
                                    <div ng-hide="showEditInput">
                                    	<h2 class="edit-input" ng-click="showEditInput=!showEditInput; focusEditInput();" ng-bind="wideo.title"></h2>
                                    </div>
                                    <div ng-show="showEditInput">
                                    	<input class="form-control" id="edit-title-input" ng-model='wideo.title' ng-bind='wideo.title' 
											ng-blur='showEditInput=!showEditInput; updateWideoTitle(wideo.title);' type="text"/>
                                    </div>
                                    <div>
										<a ng-show="isOwner" class="btn btn-link" ng-href="{{href()}}/account/myprofile" ng-bind="wideo.user.name"></a>
										<span ng-show="!isOwner">{{wideo.user.name}}</span>
									</div>
									<div><span class="text-muted">{{wideo.createDate | date:'mediumDate'}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="info-box-adicional">
                            <div class="form-group">
                                <label class="control-label text-inherit" for="inputDescription">Description</label>
                                <textarea class="form-control" rows="8" ng-attr-placeholder="Write something interesting about your wideo here" ng-model="wideo.description" ng-blur="updateWideoDescription()"></textarea>
                            </div>
                            <label class="text-inherit">Tags</label>
                            <tags-input class="bootstrap-tagsinput" ng-model="wideoTags" ng-blur="updateTags()" placeholder="Separated by comma"></tags-input>
                        </div>
                    </form>
                	<div ng-if="!showEditMenu">
                    <div class="info-box">
                        <div class="info-box-image">
                   			<span class="avt avt-md" ng-style="avatarBack">
                            </span>
                        </div>
                        <div class="info-box-description">
                            <div class="info-box-title">
                                <h2 ng-bind="wideo.title"></h2>
                                <a class="btn btn-link" ng-href="{{href()}}/profile/{{wideo.user.userID}}" ng-bind="wideo.user.name"></a><span class="text-muted">{{wideo.createDate | date:'mediumDate'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="info-box-adicional">
                        <p ng-bind="wideo.description"></p>
                        <div ng-show="wideoTags.length > 0">
                        	<p class="text-inherit">Tags</p>
                        	<tags-input class="bootstrap-tagsinput" ng-model="wideoTags" ng-disabled="true"></tags-input>
						</div>
                    </div>
                    </div>
                </div>
           </div>
		<!-- Start modal-settings-wideo  -->
		<div class="modal fade" id="modal-settings-wideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
			  <div class="modal-header">
			    <button type="button" class="close icon_close" ng-click="close();" data-dismiss="modal" aria-label="Close"></button>
		        <h2 class="modal-title" ng-show="privacyEnabled">Your wideo settings</h2>
		      	<h2 class="modal-title" ng-hide="privacyEnabled">Upgrade for privacy settings</h2>
		      </div>
		      <div class="modal-body">
		      	<div ng-show="privacyEnabled">
		        	<div class="row">
	                    <ul class="list-group switch-options switch-settings-wideo">
	                        <li class="list-group-item">
								<h5 ng-class="{'switch-on':wideo.reusable}">
							        <span ng-show="wideo.reusable == true">Reusable wideo</span>
							      	<span ng-show="wideo.reusable == false">Non Reusable wideo</span>
                                    <div class="pull-right">
										<input type="checkbox" ng-model="wideo.reusable" data-on-text="" data-off-text="" bootstrap-switch />
									</div>
								</h5>
							</li>
	                        <li class="list-group-item">
								<h5 ng-class="{'switch-on':privateWideo}">
							        <span ng-show="privateWideo == true">Private Wideo</span>
							      	<span ng-show="privateWideo == false">Public wideo</span>
									<div class="pull-right">
										<input type="checkbox" ng-model="privateWideo" data-on-text="" data-off-text="" bootstrap-switch />
									</div>
								</h5>
							</li>
						</ul>
					</div>
				</div>
				<div ng-show="!privacyEnabled">
					<h5>To make your wideos private and non-reusable, you&#39;ll need to upgrade your account.</h5>
				</div>
		      </div>
		      <div class="modal-footer no-border-top">
		        <button type="button" class="btn btn-dark-border" data-dismiss="modal">Cancel</button>
		        <button ng-show="privacyEnabled" ng-click="saveSettingsChanges()" type="button" class="btn btn-primary">Save</button>
		       	<button ng-show="!privacyEnabled" type="button" class="btn btn-success" ng-click="goUpgrade()">Upgrade</button>
		      </div>
		   	</div>
		</div>
		</div>
	</script>
	<!--/ End modal-settings-wideo -->

		<!-- Start modal-delete-wideo  -->
        <div ng-show="isOwner" class="modal fade" id="modal-delete-wideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close icon-close" ng-click="close();" data-dismiss="modal" aria-label="Close"></button>
		        <h2 class="modal-title">Delete wideo?</h2>
		      </div>
		      <div class="modal-body">
		        <p>It will be permanently removed from wideo.co.
		        <br>If you&#39;ve shared or embedded it in other websites, it will be no longer visible.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-dark-border" data-dismiss="modal">No, keep it</button>
		        <button ng-click="deleteWideo();" type="button" class="btn btn-primary">Yes, delete it</button>
		      </div>
			</div>
		  </div>
		</div>
		<!--/ End modal-delete-wideo -->

	     <!-- Start modal-input-dropdown -->
        <div class="modal fade" id="modal-wideo-title" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title">Name your wideo</h2>
              </div>
              <div class="modal-body">
                <form role="form" novalidate name="wideoNameForm">
                    <div class="form-group" ng-class="{'has-error':wideoNameForm.$submitted && wideoNameForm.wideotitle.$error.required}">
                        <div class="form-group">
                            <input name="wideotitle" type="text" class="form-control" id="" ng-model="wideo.newWideoTitle" required placeholder="Write a title">
                        </div><!-- /.form-group -->
                    </div><!-- /.form-body -->
                    <div class="form-footer">
                        <button type="button" class="btn btn-dark-border" ng-click="goToProfile()">Cancel</button>
                        <button ng-disabled="wideoNameForm.$submitted && wideoNameForm.$invalid" type="submit" class="btn btn-primary" ng-click="wideoNameForm.$valid && updateWideoTitle(wideo.newWideoTitle)">Save</button>
                    </div><!-- /.form-footer -->
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--/ End modal-input-dropdown -->
		</div><!--//container-->

		<wideo-footer ng-if="showEditMenu" ></wideo-footer>
     </div> <!--//wrapper-->
</body>
